<!-- About Section -->
   <section class="success" id="about-book">
       <div class="container">
           <div class="row">
               <div class="col-lg-12 text-center">
                   <h2>Das Buch</h2>
                   <hr class="book-light">
               </div>
           </div>
           <div class="row">
               <div class="col-lg-4 col-lg-offset-2">
                   <p>AngularJS & Ionic Framework vermittelt neben den Grundlagen beider Technologien tiefe Einblicke in mögliche Stolpersteine, Probleme und natürlich praktische Lösungen.</p>
               </div>
               <div class="col-lg-4">
                   <p>Das Werk verschafft dem Leser zuerst das nötige Wissen über AngularJS, um dann alle Bestandteile vom Ionic Framework verstehen zu können. Es ist sehr geradlinig und praxisnah gestaltet mit dem Ziel am Ende die erste eigene Anwendung erstellen und benutzen zu können.</p>
               </div>
               <div class="col-lg-8 col-lg-offset-2 text-center">
                   <a href="https://github.com/AngularIonic/Buch" target="_blank" class="btn btn-lg btn-outline">
                       <i class="fa fa-angle-double-right"></i> Code-Beispiele
                   </a>
                   <a href="https://github.com/AngularIonic/MusikMax" target="_blank" class="btn btn-lg btn-outline">
                       <i class="fa fa-angle-double-right"></i> Beispiel Anwendung
                   </a>
               </div>
           </div>
       </div>
   </section>
