 <!-- About Section -->
    <section class="success" id="about-angular">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Was ist AngularJS?</h2>
                    <hr class="angular-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>AngularJS ist ein Framework zur Erstellung von Single-Page-Application von Google.</p>
                </div>
                <div class="col-lg-4">
                    <p>Das Web wird immer interaktiver und dynamischer. Anstatt ganze Seiten neuzuladen, werden nur Inhalte ausgetauscht oder nachgeladen. Google stellt dafür mit AngularJS ein mächtiges Werkzeug zur Verfügung. AngularJS ist die Grundlage für das Ionic Framework.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://angularjs.org/" target="_blank" class="btn btn-lg btn-outline">
                        <i class="fa fa-angle-double-right"></i> AngularJS
                    </a>
                    <a href="https://angular.io/" target="_blank" class="btn btn-lg btn-outline">
                        <i class="fa fa-angle-double-right"></i> Angular2
                    </a>
                </div>
            </div>
        </div>
    </section>
