
    <!-- Portfolio Grid Section -->
    <section id="book-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Inhalt</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                {% for post in site.posts %}
                    <div class="col-sm-4 portfolio-item">
                        <a href="#portfolioModal-{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-icon">
                                    <i class="fa fa-search"></i>
                                </div>
                                <div class="caption-content">
                                    <div><b>{{post.chapter}}. Kapitel</b></div>
                                    <div class="sub">{{post.title}}</div>
                                </div>
                            </div>
                            <img src="img/portfolio/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}">
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
